/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 0; }
p { margin: 0; }

a         { color: #e74c3c; }
a:hover   { color: #e74c3c; }
a:visited { color: #C74E42; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
body {
  background: #eee;
  font-family: 'Roboto', sans-serif;
  color: #474747;
    font-size: 16px;
    line-height: 1.63;
}
h1 {
  font-size: 3em;
/*  text-transform: uppercase;*/
  font-family: 'Merriweather', serif;
  font-weight: 700;
}
h1.title {
    margin: 0;
  font-size: 6rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    text-align: left;
    color:#fff;
        transform: translateY(50%);
}
h2{
  font-size: 2em;
  line-height: 1.63;
    font-family: 'Merriweather', serif;
  font-weight: 700;
}
.posts {
  list-style-type: none;
}
.posts h2 a{
font-size:24px;
    text-decoration: none;
    color: #111;
}
.posts h2 a:hover{
    color: #e74c3c;
}


.posts li {
  line-height: 1.63;
}
.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
.left{
  width: 90%;
  min-height: 100%;
  margin: 0 auto;
    max-width: 696px;
}
.sidebar{
  box-sizing:border-box;
  padding: 20px;
  width: 20%;
  float: left;
  background-color: #eee;
  height: 100%;
}

.main.posthead .post{
padding:5%;
 max-width: 1184px;
}

.post{

  box-sizing:border-box;

  overflow:hidden;
  font-size: 1em;
    line-height: 1.63;
  margin-bottom: 50px;

   font-family: 'Roboto', sans-serif;

}

#left{
    width: 40%;
    height: 100%;
    float: left;
    background-image: url('../img/mount2.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 0px 8005px rgba(255,255,255,.8);
    -webkit-box-shadow: inset 0px 0px 0px 8005px rgba(255,255,255,.8);
    -moz-box-shadow: inset 0px 0px 0px 8005px rgba(255,255,255,.8);
}
#right{
    width: 60%;
    height: 100%;
    float: left;
    overflow-y: auto;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.topper{
  height: 50px;
  width: 100%;
  border-top:5px solid #e74c3c;
}
.main{
  margin: 0 auto;
  width: 100%;
    height: 100%;
/*  max-width: 1000px;*/
}
.header{
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  height: calc(100% - 10%);
        background-image: url('../img/for1.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 0px 8005px rgba(70,62,62,.8);
    -webkit-box-shadow: inset 0px 0px 0px 8005px rgba(70,62,62,.8);
    -moz-box-shadow: inset 0px 0px 0px 8005px rgba(70,62,62,.8);
        padding: 5%;
    box-sizing: border-box;
}


.main.posthead .header{

  height:auto;

}
.center{
  text-align: center;
  color: #2c3e50;
}
h2.center{
    font-size: 1em;
  font-weight: 300;
    text-transform: uppercase;
    color: rgb(145, 145, 145);
    margin-bottom: 50px;
}
h2.center span{
  font-weight: 700;
}
p.center{
  font-weight: 400;
  text-transform: uppercase;
}
hr{
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border:1px dashed #bbb;
  width: 60%;
}
svg{
  height: 100%;
  width: 100%;
  fill: #e74c3c;
}
.header h1 a{
  text-decoration: none;
  color: #eee;
}
.header h1 a span{
  font-weight: 400;
}
.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}





@media (max-width: 900px) {
    .left{
    width: 100%;
    }
    .post{
    border-radius: 0px;
        max-width:90%;
        margin: 0 auto;
    }


}


@media (max-width: 455px) {
    h1.title {

  font-size: 4rem;

}


}






#background{
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}


header{
  padding: 40px 0px 0px;
  height: 50px;
  position:relative;
  z-index: 2;
}
/* header a{
  color:#201625;
  text-decoration:none;
  font:300 0.8em 'Poppins', sans-serif;
  display:block;
  float:right;
  border:1px solid #201625;
  padding:10px 15px;
  border-radius:30px 30px 30px 0px;
} */
svg{
  height: 50px;
}
.heroImage{
  position:relative;
  width: 100%;
  height: calc(80% - 90px);
  color:#333;
  z-index: 2;
}


/* .heroImage:after {
  transform: rotate(-2deg);
  right: 10px;
  left: auto;
} */
.heroImage .content{
  max-width: 1240px;
  width: 95%;
  position:absolute;
  top:calc(50% + 15px);
  left:50%;
  transform:translate(-50%, -50%);
}
.headerTextBlock{
  width: 100%;
  max-width:500px;
}
h1{
  font:300 2em 'Poppins', sans-serif;
}
h1 span{
  font-weight:600;
}
.container_content{
  width: 100%;
  background:#eee;
  padding:40px 0px;
  position:relative;
}
h2{
  color:#201625;
  font:300 1.2em 'Poppins', sans-serif;
  margin-bottom:40px;
}

.card{
  width: 100%;
  height: 400px;
  background:#fff;
  margin-bottom:2em;
}

.cardLeft,.cardRight{
  position:relative;
  width: 50%;
  height: 100%;
  float:left;
}
.cardLeft img,.cardRight img{
  width: 100%;
}
.cardLeft div,.cardRight div{
  height: 100%;
  width: 100%;
}
.cardLeft div iframe,.cardRight div iframe{
  height: 100%;
  width: 100%;
}
.card.odd .cardRight:after{
      position : absolute;
    left:-20px;
    content:"";
    width:0;
    height:0;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-right:20px solid #5D31C6;
  top:50%;
  transform:translateY(-50%);
  z-index: 10;
}
.card.even .cardLeft:after{
      position : absolute;
    right:-20px;
    content:"";
    width:0;
    height:0;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-left:20px solid #5D31C6;
  top:50%;
  transform:translateY(-50%);
  z-index: 10;
}
.card.odd .cardRight{
  background-color:#5D31C6;
  color:#fff;
   font:300 1em 'Poppins', sans-serif;
  box-sizing:border-box;
  padding:6%;
}
.card.even .cardLeft{
  background-color:#5D31C6;
  color:#fff;
   font:300 1em 'Poppins', sans-serif;
  box-sizing:border-box;
  padding:6%;
}

.card.odd .cardRight h3,.card.even .cardLeft h3{
  font:400 1.5em 'Poppins', sans-serif;
}

.card.last{
  margin:0;
}
.inner{
  max-width: 1240px;
  width: 95%;
  margin:0 auto;
}
.button{
  position:relative;
  overflow:hidden;
  transition:all 0.2s;
}
.button:hover{
background:#2ba096;
  color:#fff;
}
.heroImage p{
  font:300 1.4em 'Poppins', sans-serif;
  line-height:2em;
}
.heroImage p span{
  font-weight:500;
  color:#5D31C6;
}
.heroImage hr{
  width: 200px;
  border: 2px solid #eee;
  border-radius:10px;
  margin-bottom:20px;
}
.share{
  height: 50px;
  width: 170px;
  font-size:20px;
  float:right;
}
.share a{
  color:#fff;
  display:inline-block;
  width: 35px;
  height: 35px;
  background:#5D31C6;
  border-radius:100%;
  line-height:35px;
  text-align:center;
  margin:0;
  margin-right:10px;

}
.share a:last-of-type{
  border:0;
  padding:0;
  margin:0;
}
.share a:hover{
    color: #8981f3;
    transition: all 0.2s linear;
}
@media screen and (max-width: 480px) {
  body{
   font-size:10px;
  }
  .heroImage hr{
    border:0px solid #eee;
    border:1px solid #eee;
  }
  .heroImage p{
    font-size:2em;
  }
  h2{
    font-size:1.8em;
  }
  .cardLeft, .cardRight {
    position: relative;
    width: 100%;
    height: 50%;
    float: none;
}
  .heroImage .content {
    top: calc(50% + 30px);
}
  .card.odd .cardRight {
    font-size:1.3em;
  }
    .card.even .cardLeft {
    font-size:1.3em;
  }
  .cardLeft:after, .cardRight:after {
    display:none;
  }
  .heroImage{
    height: calc(90% - 90px);
}
}

