/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

.post{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.64;
}

.post h2{
    font-family: 'Merriweather', serif;
    line-height: 1.64;
}
